.main {
  display: flex;
  justify-content: center;
  background: #FAFAFA;
}
.main__content {
  width: 100%;
  max-width: 935px;
  padding-top: 30px;
  display: flex;
}
.main__content_left {
  width: 100%;
  max-width: 614px;
  margin-right: 28px;
}
.story__box {
  position: relative;
  height: 118px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.story__box-content {
  width: 100%;
  height: 84px;
  padding-left: 20px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}
.story {
  width: 66px;
  height: 66px;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story__content {
  width: 60px;
  height:60px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story__user {
  display: block;
  max-width: 74px;
  font-size: 12px;
  overflow: hidden;
  margin-top: 6px;
  text-overflow: ellipsis;
}
.story__content .story__figure {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative
}
.story__figure:before {
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,.0975);
}
.story__box-content ul {
  display: flex;
  position:relative;
}
.story__box-content ul li{
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
}
.arrow {
  align-items: center;
  display: flex;
  position: absolute;
  left: 93%;
  top: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  border-radius: 50%;
  z-index: 2;
}

.arrow-left {
  align-items: center;
  display: none;
  position: absolute;
  left: 3%;
  top: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  border-radius: 50%;
  z-index: 2;
  transform: rotate(180deg);
}

/* Content Right */
.main__content_right{
 width: 100%;
}
.main__infos {
  display: flex;
  align-items: center;
  margin: 22px 0px 30px 0px;
  position: fixed;
}
.main__names {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 17px;
  height: 40px;
}
.main__title, .main__subtitle {
  font-size: 14px;
}
.main__title {
  font-weight: 500;
}
.main__subtitle {
  font-weight: 300;
}
.main__content_body {
  position: fixed;
  top: 194px;
  max-width: 293px;
}
.main__content_body_top {
  display: flex;
  justify-content: space-between;
}

.main__content_body_top .suggestions {
  font-size: 12px;
  font-weight: 500;
  color: #8E8E8E;
}
.main__content_body_top .see__it_all {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #262626;
}
.followers {
  display: flex;
  flex-direction: column;
  margin: 17px 0 12px 0;
}
.followers__area {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.followers__info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.followers__info :nth-child(1) {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  margin-bottom: 6px;
}
.followers__info :nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  color: #8E8E8E;
}
.followers__profile {
  margin-right: 11px;
}
.followers__profile img, .post__info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit:cover;
}
.followers__follow .follow {
  font-size: 12px;
  font-weight: 500;
  color:  #139EF2;
  text-decoration: none;
}

.navigation ul{
 display: flex;
 flex-wrap: wrap;
 line-height: 15px;
}
.navigation ul li {
  display: flex;
  /* width: 40px; */
  margin-right: 12px;
}
.navigation ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  position: relative;
  color: #C7C7C7;
}
.navigation ul li a::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  position: absolute;
  right: -7px;
  top: 4px;
  background: #C7C7C7;
  border-radius: 50%;
}
.copyright {
  font-weight: 400;
  margin-top: 18px;
  font-size: 11px;
  color: #C7C7C7;
}

/* Posts */
.post__content {
  background-color: #fff;
  border: 1px solid #DBDBDB;
  margin-bottom: 60px;
}
.post__content_header {
  width: 100%;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__content_footer {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
}
.post__info {
  display: flex;
  align-items: center;
}
.post__info img {
 margin-right: 15px;
}
.post__info a {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}
.post__options {
  cursor: pointer;
}
.post__content_body {
  width: 612px;
  height: 612px;
  position: relative;
}
.post__content_body video {
  width: inherit;
  max-height: 100%;
  min-height: 100%;
}
.post__content_body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post__option_user {
  display: flex;
}
.post__option_user > div  {
  margin-right: 17px;
}
.area__like {
  flex-wrap: wrap;
  padding: 0 16px 13px 16px;
  display: flex;
  align-items: center;
}
.area__like img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.area__like .liked__for {
  font-weight: 300;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}
.liked__user {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.comments__followers {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 30px;
  height: auto;
}
.comment {
  display: flex;
  margin-bottom: 4px;
}
.comment .follow {
  text-decoration: none;
  color: #262626;
  font-weight: 500;
  font-size: 14px;
}
.comment .follow:hover {
  text-decoration: underline;
}
.comment_folloow {
  padding-left: 5px;
  font-size: 14px;
}
.comments__area {
  height: 53px;
  padding: 0 16px;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
}
.comments__emotion {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.comments__input {
  flex: 1;
  height: inherit;
  border: 0;
  height: 18px;
  outline: transparent;
  resize: none;
}
.comments__input::-webkit-scrollbar {
  display: none;
}
.publish {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.comments__input:invalid + .publish{
 color: #B2DFFC;
 cursor: default;
}
.comments__input:valid + .publish{
  color: #0095F6;
  cursor: pointer;
 }
 .area__coment {
   flex: 1;
   display: flex;
 }
 .liked {
   cursor: pointer;
 }

 @media (max-width: 935px) {
   .main__content_right {
     display: none;
   }
   .main__content {
     justify-content: center;
   }
 }
 @media ( max-width: 630px) {
   .header {
     padding: 0 22px;
   }
   .header__input {
     display: none;
   }
   .header__logo {
     border: 0 !important;
   }
   .header__insta {
     position: absolute;
     left: 40%;
   }
   .header__navs > .removed--mobile {
     display: none;
   }
   .story__box {
     background: transparent;
   }
   .arrow {
     display: none !important;
   }
   .arrow-left {
     display: none;
   }
   .main__content {
     padding: 0px;
   }
   .main__content_left {
     margin: 0px;
   }
   .post__content_body {
     width: 100%;
   }
   .menu__mobile {
     display: flex !important;
   }
 }