@charset "UTF-8";

@import url('./reset.css');
@import url('./rules.css');
@import url('./content.css');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DBDBDB;
}
.menu__mobile {
  display: none;
  width: 100%;
  height: 54px;
  z-index: 1;
  padding: 0 22px;
  position: fixed;
  bottom: 0px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
}
.content__center {
  width: 100%;
  max-width: 935px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__box-logo {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-right: 11px;
  height: 22px;
  border-right: 2px solid #DBDBDB;;
}

.header__insta {
  width: 103px;
  height: 29px;
  padding-left: 10px;
}
.header__insta-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 4px;
}
.header__input {
  width: 100%;
  max-width: 268px;
  height: 36px;
  background: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  position: relative;
}
.header__input-input {
  width: 100%;
  height: inherit;
  border: 0;
  outline: none;
  background: initial;
  padding: 10px 10px 10px 45px;
}
.header__input-input::-webkit-input-placeholder, .header__input-input::placeholder {
  color: #979797;
}
.header__navs {
  display: flex;
}
.header__navs :nth-child(2), .header__navs :nth-child(3), .header__navs :nth-child(4) {
  margin-left:25px;
}
.header__input_search {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 15px;
}
.position--right {
  right: 15px;
  left: auto;
}

.header__area-recent {
  display: none;
  position: absolute;
  top: 47px;
  left: -54px;
  width: 375px;
  height: 362px;
  border-radius: 6px;
  background: #fff;
  z-index: 3;
  transition: display 30s linear;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
}
.header__area-recent::before {
  content: '';
  display: block;
  background: #fff;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  z-index: -1;
  right: 50%;
  transform: rotate(-45deg);
  box-shadow: rgba(0,0,0,.0975) 4px -4px 6px -3px;
}
.header__area-recent-content {
  height: inherit;
  padding: 12px 0 0 0;
  overflow-y: auto;
}
.header__area-recent-content::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 7px;
}
.header__area-recent-content::-webkit-scrollbar-button {
  display: none;
}
.header__area-recent-content::-webkit-scrollbar-thumb {
  background-color: rgb(186, 186, 192);
  border-radius: 6px;
  border: 5px solid transparent;
}
.header__area-recent-content::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.03);
}
.header__content-top {
  margin: 4px 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.header__content-profile {
  margin: 8px 0;
}
.profile {
  display: block;
  cursor: pointer;
  transition: background 0.2s linear;
  text-decoration: none;
}
.profile:hover {
  background: #fafafa;
}
.header__profile-content {
  padding: 8px 16px;
  display: flex;
}
.profile__area-radius {
  width: 55px;
  height: 55px;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  border-radius: 50%;
}
.profile__radius {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__area_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile__photo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.profile__figure {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  user-select: none;
  object-fit: cover;
}
.profile__name{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px;
  color:#000;
}
.profile__hastag {
  margin-top: 8px;
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.profile__area-remove {
  display: flex;
  align-items: center;
}
.play1, .play2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  position: absolute;
  right: 14px;
  bottom: 20px;
  cursor: pointer;
}
.play1 > .how-sound, .play2 > .how-sound {
  display: none;
}